// @import 'variables';
@import 'styles/variables';

.languages {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    color: $white;
    border-radius: 5px;
  }

  .language {
    margin: 0 5px;
    padding: 4px;
    cursor: pointer;
    &.active {
      color: $white;
      background-color: $third;
    }
  }
}

.language-button {
  display: flex;
  align-items: center;

  img {
    margin-right: 5px;
  }
}
