@import 'styles/variables';

.menu-items {
  position: relative;
  font-size: 14px;
  margin: 0 10px;
  cursor: pointer;

  button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    color: $white;
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: $fourth;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $fourth;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.sub-menu {
  display: flex;
  align-items: center;
  height: 20px;
  // border-bottom: 1px solid $fourth;

  svg {
    margin-right: 5px;
  }

  &:hover {
    text-decoration: underline;
  }
}
